.HeadPane,
.PrintHeadPane
{
	background: #d3e4f6!important;
    border-bottom: 1px solid #849DBD;
}

.DateNavigatorContainer
{
	background: #cfddee;
}

.HeadPane .ActionToolbar .Spacer b
{
    background: #849dbd;
}

.HeadPane .NavigationToolbar .NavigationMenu,
.HeadPane .NavigationToolbar .SubMenu .dxm-content a.dx
{
    color: #7287a2;
}
.HeadPane .NavigationToolbar .NavigationMenu .dxm-item .dxm-content,
.HeadPane .NavigationToolbar .NavigationMenu .dxm-item.dxm-hovered .dxm-content
{
    color: #6c7f97;
}

.HeadPane .ActionToolbar .SearchBox
{
    margin-top: 1px;
}
